body {
    margin: 0;
    width: 100%;
    font-family: font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
    color: #000;
    background-color: #eee;
    font-size: 10pt;
}

fieldset {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border: 1px solid #777;
}

legend {
    padding: 0 5px;
    color: #777;
    font-size: 11pt;
    font-weight: bold;
}

label {
    color: #777;
    font-weight: bold;
}

#connectionStatus {
    font-weight: bold;
}

#content {
    padding: 10px;
}

.option_row {
    margin-bottom: 4px;
}

#urlHistory, #favorites, #filterMessage {
    width: 500px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverSchema, #serverPort, #lastMsgsNum {
    width: 50px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverHost {
    width: 200px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#serverPath, #serverParams {
    width: 300px;
    padding: 1px 3px;
    border: 1px solid #999;
}

#sendMessage {
    min-width: 300px;
    height: 2em;
    padding: 0 3px;
    line-height: 150%;
}

#messages {
    height: 500px;
    padding: 0 5px;
    overflow: auto;
    border: 1px dotted #777;
    background-color: #fff;
    line-height: 150%;
    overflow: scroll;
    resize: vertical;
    width: calc(100vw - 54px);
    float: left;
}

#messages pre {
    margin: 0;
    width: 100%;
    color: #000;
}

#messages pre.sent {
    color: #f63;
}

.viewMessage {
    height: 500px;
    padding: 0 5px;
    overflow: auto;
    border: 1px dotted #777;
    background-color: #fff;
    line-height: 150%;
    overflow: scroll;
    resize: vertical;
    width: calc(30vw - 30px);
    float: right;
    white-space: pre;
    font-family: monospace;
}

.hidden {
    display: none;
}
