body {
    background-color: #eee;
    color: #000;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 10pt;
    margin: 0;
    width: 100%;
}

fieldset {
    border: 1px solid #777;
    margin: 0 0 10px 0;
    padding: 5px 10px;
}

legend {
    color: #777;
    font-size: 11pt;
    font-weight: bold;
    padding: 0 5px;
}

label {
    color: #777;
    font-weight: bold;
}

.viewMessage {
    background-color: #fff;
    border: 1px dotted #777;
    float: right;
    font-family: monospace;
    height: 500px;
    line-height: 150%;
    overflow: scroll;
    padding: 0 5px;
    resize: vertical;
    white-space: pre;
    width: calc(30vw - 30px);
}

.hidden {
    display: none;
}

.option_row {
    margin-bottom: 4px;
}

#connectionStatus {
    font-weight: bold;
}

#content {
    padding: 10px;
}

#urlHistory, #favorites, #filterMessage {
    border: 1px solid #999;
    padding: 1px 3px;
    width: 500px;
}

#serverSchema, #serverPort, #lastMsgsNum {
    border: 1px solid #999;
    padding: 1px 3px;
    width: 50px;
}

#serverHost {
    border: 1px solid #999;
    padding: 1px 3px;
    width: 200px;
}

#serverPath, #serverParams {
    border: 1px solid #999;
    padding: 1px 3px;
    width: 300px;
}

#sendMessage {
    height: 2em;
    line-height: 150%;
    min-width: 300px;
    padding: 0 3px;
}

#messages {
    background-color: #fff;
    border: 1px dotted #777;
    float: left;
    height: 500px;
    line-height: 150%;
    overflow: scroll;
    padding: 0 5px;
    resize: vertical;
    width: calc(100vw - 54px);
}

#messages pre {
    color: #000;
    margin: 0;
    width: 100%;
}

#messages .sent {
    color: #f63;
}
